<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co"/>
    <meta name="author" content="FreeHTML5.co"/>
    <link rel="icon" href="/images/icon.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container fh5co-container">

    <div class="row">
        <div class="col-md-12 animate-box" data-animate-effect="fadeIn">
            <div class="fh5co-404-wrap" id="video" style="background-image: url(/images/error.jpg)"
                 data-vide-options="position: 0 50%">
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-md-12 text-center fh5co-404-text animate-box" data-animate-effect="fadeIn">
            <h2>您的权限好像不足哦...</h2>
            <p><a href="javascript:history.go(-1)">返回上一步</a></p>
        </div>
        <div class="col-md-12 text-center fh5co-copyright animate-box" data-animate-effect="fadeInUp">
        </div>
    </div>

</div>

<!-- jQuery -->
<script src="/vendor/jquery/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Vide -->
<script src="/js/jquery.vide.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>


</body>
</html>


